body {
    font-family: Arial, sans-serif;
    background: #fff5f8;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 15px;
}

.logo {
    max-width: 150px;
}

h1 {
    text-align: center;
    color: #d63384;
}

.produto {
    background: #ffffff;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.sabor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
}

.sabor input {
    width: 80px;
}

input {
    padding: 8px;
}

button {
    background: #d63384;
    color: white;
    border: none;
    padding: 12px;
    width: 100%;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #b52a6f;
}

.resumo {
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    margin-top: 20px;
}
