body {
    font-family: 'Poppins', sans-serif;
    background: #fff5f8;
    padding: 20px;
}

header {
    text-align: center;
}

.logo {
    max-width: 300px;
}

h1 {
    color: #d63384;
}

.produto {
    background: #fff;
    padding: 15px;
    border-radius: 15px;
    margin-bottom: 15px;
}

.sabor {
    display: flex;
    justify-content: space-between;
    margin: 6px 0;
}

input {
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    width: 100%;
}

.sabor input {
    width: 80px;
}

button {
    border-radius: 30px;
    border: none;
    padding: 14px;
    font-size: 16px;
    cursor: pointer;
}

.btn-finalizar {
    background: linear-gradient(45deg, #ff5fa2, #d63384);
    color: white;
    width: 100%;
    margin-top: 20px;
}

.btn-confirmar {
    background: #28a745;
    color: white;
    width: 100%;
    margin-top: 15px;
}

.modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,.6);
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 15px;
    max-width: 320px;
    margin: 25% auto;
}

footer {
    text-align: center;
    margin-top: 30px;
    font-size: 14px;
    color: #777;
}

.btn-sair {
    background: #ccc;
    color: #333;
    width: 100%;
    margin-top: 10px;
}

#infoPagamento {
    margin-top: 10px;
    font-weight: 500;
    color: #444;
}
